@import '../../styles/variables.scss';

.Liked {
  padding-bottom: 42px;

  h2 {
    font-size: 2.4rem;
    font-family: $fontHeaders;
    font-weight: 600;
    margin: 17px 25px;
  }
  &__profilePicture {
    position: absolute;
    top: 11px;
    right: 23px;
    width: 75px;
    height: 75px;
    img {
      border-radius: 50%;
      width: 100%;
      height: 100%;
      object-fit: cover;
    }
  }
}

@media screen and (min-width: 769px) {
  .Liked {
    width: calc(100% - 68px);

    &__profilePicture {
      img {
        display: none;
      }
    }
  }
}
