//Tipos de fuente
$fontHeaders: 'Poppins', sans-serif;
$fontParagraph: 'Manrope', sans-serif;

//Paleta de colores Alegre
$main: #ff8400;
$main200: #ffce99;
$acentuation: #0084ff;
$gray: #d9d9d9;
$grayStrong: #aeaeae;
$gray200: #f0f0f0;
