@import '../../styles/variables.scss';
@import '../../styles/mixins.scss';

.Delete {
  background-color: rgba(0, 0, 0, 0.5);
  width: 100vw;
  height: 100vh;
  padding: 0 10px;
  display: flex;
  justify-content: center;
  align-items: center;
  &__content {
    background-color: #ffffff78;
    border-radius: 12px;
    height: 359px;
    border: 3px solid white;
    position: relative;
    max-width: 640px;
    padding: 41px 22px;
    h2 {
      font-size: 2.4rem;
      font-family: $fontHeaders;
      color: white;
      text-align: center;
      margin-bottom: 35px;
    }

    &-button {
      margin-top: 10px;
      @include mainButton();
    }

    &-button[disabled] {
      background-color: $main200;
    }

    &-close {
      color: white;
      font-size: 3.5rem;
      position: absolute;
      top: 5px;
      right: 5px;
    }
  }

  &__error {
    font-size: 1.6rem;
    font-weight: 500;
    color: red;
  }
}
