.Logo {
  width: 181px;
  .Logo__big {
    display: flex;
    justify-content: center;
  }

  .Logo__sm {
    padding-left: 25px;
    width: 181px;
  }
}

@media screen and (min-width: 769px) {
  .Logo {
    display: block;
  }
}
