@import '../../styles/variables.scss';
@import '../../styles/mixins.scss';

.Search__form {
  padding: 0 25px 31px;
  max-width: 740px;
  input {
    display: block;
    width: 100%;
    border: none;
    // border-bottom: 1px solid $gray200;
    padding-bottom: 5px;
    font-family: $fontParagraph;
    font-size: 1.6rem;
    font-weight: 400;
    outline: none;
    margin-bottom: 16px;
    background-color: transparent;
  }

  input::placeholder {
    font-family: $fontParagraph;
    font-size: 1.6rem;
    font-weight: 400;
    color: black;
  }

  button {
    @include mainButton();
  }
}

@media screen and (min-width: 769px) {
  .Search__form {
    button {
      width: 400px;
      display: block;
    }
  }
}
