@import '../../styles/variables.scss';

.Idea-error {
  font-size: 1.6rem;
  font-weight: 500;
  color: red;
  padding: 10px 5px;
}

.Ideas {
  list-style: none;
}

.no__ideas {
  font-size: 1.6rem;
  padding: 19px 25px;
}
